@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

/* Header */
#header-nav {
    background-color: #f6b319;
}

.logo-img {
    background: url(/images/restaurant-logo_large.png) no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;

}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {  
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: .75;
    text-shadow: 1px 1px 1px #222;
}

.navbar-brand a, a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-brand p span {
    vertical-align: middle;
}

#nav-list {
    font-size: 1.4em;
    /* outline: 1px solid red; */
}

.navbar-nav {
    position: relative !important;
    top: -2rem;

}

.navbar-nav li.active > a {
    background: #Efe7e7;
	color: #fff;
}

#nav-list a {
    color: #951c49;
    text-align: center;
}

#nav-list a:hover {
    background: #Efe7e7;
}

#nav-list a span {
    font-size: 1.4em;
}

#phone {
    margin-top: 5px;
}

#phone a { /* phone number */
    text-align: right;
    text-decoration: none;
    padding-bottom: 0;
}

#phone div {  /* We deliver */
    color: #557c3e;
    text-align: right;
    margin-left: 1rem;
    font-size: .8em;
}
/* header ends */

/* Homepage */
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
}

#menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #350c1f;
    overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
    background: url(/images/menu-tile.jpg) no-repeat;
    background-position: center;
}

#specials-tile {
    background: url(/images/specials-tile.jpg) no-repeat;
    background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.4 em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}
/* Home page ends */

/* Footer */
.bg-light {
    margin-top: 30px !important;
    padding-top: 35px !important;
    padding-bottom: 30px !important;
    background-color: #222 !important;
    border-top: 0 !important;
}

.bg-light div.row {
    margin-bottom: 35px;
}

#hours, #address {
    line-height: 2;
}

#hours > span, #address > span {
    font-size: 1.3em;
}

#address p {
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}

#testimonials {
    font-style: italic;
}

#testimonials p:nth-child(2) {
    margin-top: 25px;
}
/* Footer ends */

/* Menu Categories Page */
.category-tile {
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}

.category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #ffff;
    opacity: .8;
}

.category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
    margin-bottom: 50px;
}

/* Menu Categories Page Ends */

/* Single Category Page */
.menu-item-tile {
    margin-bottom: 25px;
}

.menu-item-tile hr {
    width: 80%;
}

.menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin-top: -15px;
    margin-right: -15px;
}

.menu-item-tile .menu-item-price span {
    font-size: .6em;
}

.menu-item-photo {
    position: relative;
    border: 2px solid #350c1f;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
}

.menu-item-photo div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: #557c3e;
    text-align: center;
}

.menu-item-description {
    padding-right: 30px;
}

h3.menu-item-title {
    margin: 0 0 10px;
}

.menu-item-details {
    font-size: .9em;
    font-style: italic;
}
/* Single Category Page ends */

/*Large devices only */
@media(min-width: 1200px) {
    .jumbotron {
        background: url('/images/jumbotron_1200.jpg') no-repeat;
        height: 675px;
        margin-top: 1rem;
    }
}

/*Medium devices only */
@media(min-width: 992px) and (max-width: 1199px) {
   .jumbotron {
    background: url('/images/jumbotron_992.jpg') no-repeat;
    height: 558px;
   
    margin-top: 1rem;
   }
}

/*small devices only */
@media(min-width: 768px) and (max-width: 991px) {
    #nav-list {
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 5rem;
    }

    li {
       /* padding-right: .6rem; */
       margin-left: 1rem;
    }
    
    #phone a { /* phone number */
        font-size: .8em;
    }


    .logo-img {
        background: url(/images/restaurant-logo_medium.png) no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
    /* header ends */

    .jumbotron {
        background: url('/images/jumbotron_768.jpg') no-repeat;
        height: 432px;
        margin-top: 1rem;
       }
}

/*extra small devices only */
@media(max-width: 767px) {
    .navbar-brand h1 {
        padding-top: .0.6em;
        font-size: 5vw;
    }

    .navbar-brand p {
        font-size: .6em;
        margin-top: 12px;
    }

    #call-btn > a {
        font-size: 1.5em;
        display: block;
        margin: 15px 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #f6b319;
        color: #951c49;
    }

    #call-btn > a:hover {
        background: linear-gradient(90deg, rgba(167,47,92,1) 20%, rgba(63,12,31,1) 61%, rgba(34,34,34,1) 86%);
    }

    #xs-deliver {
        margin-top: 5px;
        font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    /* header ends */

    /* Homepage */
    .jumbotron {
        margin-top: 30px;
        padding: 0;
    }

    

}

/* extra small */
@media (max-width: 575px) {
    #menu-tile, #specials-tile {
        width: 360px; 
        margin: 0 auto;
    }

    .navbar-brand h1 {
        font-size: 4vw;
    }

    /* footer */
    .bg-light section {
        margin-bottom: 30px;
        text-align: center;
    }

    .bg-light section:nth-child(3) {
        margin-bottom: 0;
    }
    /* footer ends */

    /* single category page */
    .menu-item-photo {
        margin-right: auto;
    }

    .menu-item-tile .menu-item-price {
        text-align: center;
    }

    .menu-item-description {
        text-align: center;
    }

}

@media (max-width: 374px) {
    #menu-tile, #specials-tile {
        width: 240px; 
        margin: 0 auto;
    }
}